* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Caskaydia NFM;
    font-size: 20px;
    font-weight: bold;
}

window#waybar {
    background-color: #020202;
    color: #BAC2DE;
    transition-property: background-color;
    transition-duration: .15s;
    /*border-bottom: 1px solid grey;*/
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #020202;
    border: none;
}

#workspaces button {
    padding: 2px;
    background-color: transparent;
	  color: #333;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    padding: 2px;
    background: rgba(0, 0, 0, 0.2);
    /*box-shadow: inset 0 -3px #ffffff;*/
    box-shadow: inset 0 3px pink;
}

#workspaces button.focused {
    padding: 2px;
    /*background-color: #d33682;*/
	  color: #d33682;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    /*box-shadow: inset 0 -3px #ffffff;*/
}

#workspaces button.urgent {
    padding: 2px;
    /*background-color: #eb4d4b;*/
	  color: orange;
}

#mode {
    /*background-color: #64727D;*/
    background-color: rgba(150, 0, 0, 0.2);
    color: pink;
    /*border-bottom: 3px solid #ffffff;*/
}

#clock {
  font-weight: normal;
}
#clock,
#battery,
#disk,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
}

#tray {
  padding-left: 28px;
}



#pulseaudio,
#battery {
  padding: 0 12px;
}
#network {
	padding: 0 12px;
	font-size: 0.8em;
	color: #966;
}
#custom-boost {
  padding: 0 5px;
}
#custom-memory {
  padding: 0 5px;
}
#custom-notification {
  margin: 0 30px;
}
#custom-usd,
#custom-btc,
#custom-ton {
  padding: 0 5px;
}
#custom-weather,
#custom-wttr,
#custom-usd,
#custom-btc,
#custom-ton,
#custom-updates,
#custom-trash {
  padding: 0 10px;
	font-size: 0.9em;
  font-weight: normal;
}
#custom-usd {
	color: #859900;
}
#custom-btc {
	color: #b58900;
}
#custom-ton {
  color: #229ed9;
}
#custom-player {
  padding: 0 50px;
	font-size: 0.8em;
  font-weight: bold;
}
#custom-weather {
  font-family: Weather Icons;
}
#custom-vpn {
	padding: 0 5px;
  margin: 4px 10px 4px 20px;
  font-size: 0.7em;
  font-weight: normal;
  border: 2px solid grey;
  border-radius: 5;
}

#cpu,
#memory,
#temperature {
  padding: 0 7px;
	font-size: 0.9em;
	color: #6c71c4;
}

#window,
#workspaces {
  margin: 0 4px;
}
#window {
  font-size: 0.8em;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#battery {
}

#battery.charging, #battery.plugged { 
    /*color: #26A65B;*/
}

@keyframes blink {
    to {
        background-color: #BAC2DE;
        color: #020202;
    }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #BAC2DE;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #020202;
}
